<div class="right-all col-12 col-md-8 offset-1">
  <h1>とうろく</h1>
  <!-- ゲストログイン -->
  <p>ゲストは↓こちらからログインしてください。</p>
  <div>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nes-btn is-success" %>
  </div>


  <div class="mt-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="field">
        <h6 class="mt-4">メールアドレス</h6>
        <%= f.email_field :email, autocomplete: "email", class: "nes-input" %>
      </div>

      <div class="field">
        <h6 class="mt-4">パスワード</h6>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6もじいじょう", class: "nes-input" %>
        <i class="fas fa-eye toggle-password"></i>
      </div>

      <!-- パスワードの表示・非表示切替 -->
      <script>
        $(".toggle-password").click(function() {
          // iconの切り替え
          $(this).toggleClass("fa-eye fa-eye-slash");
          
          // 入力フォームの取得
          var input = $(this).prev("input");
          // type切替
          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
        });
      </script>

      <!-- reCaptcha -->
      <div class="mt-4">
        <%= recaptcha_tags %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "とうろく", class: "nes-btn is-primary" %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <h3>ソーシャルログイン</h3>
    <p>SNSアカウントでとうろくできます。</p>
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <i class="nes-icon facebook"></i>
    <% end %>
  </div>
</div>
