<div class="right-all col-8 offset-1">
  <% if @users.exists? %>
    <h1 class="mt-4"><%= @user.name %>のファンたち</h1>
    <div class="d-flex flex-wrap">
      <% @users.each do |user| %>
        <div class="table-item text-center">         
          <% if user.image.present? %>
            <%= attachment_image_tag user, :image, size: "100x100" %>
          <% else %>
            <%= image_tag "no_image.png", size: "100x100" %>
          <% end %>
          <%= link_to user_path(user) do %>
            <p><%= truncate(user.name, length: 10) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1 class="mt-4"><%= @user.name %>のファンたち</h1>
    <p>まだファンはいません</p>
  <% end %>
</div>