<div class="right-all col-12 col-md-8 offset-1">
  <h1>クリエイターをさがす</h1>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag 'search[content]', "", placeholder: "キーワードけんさく", class: "nes-input" %>
    <%= hidden_field_tag :model, "user" %>
    <%= submit_tag 'けんさく', class: "nes-btn is-primary" %>
  <% end %>
  <h1 class="mt-4">クリエイターたち</h1>
  <div class="d-flex flex-wrap">
    <% @users.each do |user| %>
      <% if user.games.present? %>
        <div class="table-item text-center">
          <%= link_to user_path(user) do %>
            <% if user.image.present? %>
              <%= attachment_image_tag user, :image, size: "130x130" %>
            <% else %>
              <%= image_tag "no_image.png", size: "130x130" %>
            <% end %>          
            <p><%= truncate(user.name, length: 10) %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>