<div class="col-10">
  <h3>制作者を探す</h3>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag 'search[content]', "", class: "nes-input" %>
    <%= hidden_field_tag :model, "user" %>
    <%= submit_tag 'Search', class: "nes-btn is-primary" %>
  <% end %>
  <h3>制作者一覧</h3>
  <% @users.each do |user| %>
    <table class="table">
      <tr>
        <td>
          <%= attachment_image_tag user, :image, :fill, 100, 100 %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= truncate(user.introduction, :length => 20) %>
        </td>
        <td>
          <%= link_to "もっと　くわしく", user_path(user), class: "nes-btn is-warning" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>