<div class="col-xs-10">
  <div>
    <%= attachment_image_tag @user, :image, size: "100x60" %>
    <%= @user.name %>
    <% if @user == current_user %>
      <%= link_to "編集", edit_user_path(@user), class: "nes-btn is-primary" %>
      <%= link_to "退会", user_path(@user), method: :delete, data: {confirm: "本当に退会してよろしいですか？"}, class: "nes-btn is-error" %>
    <% else %>
      <% if user_signed_in? %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "nes-btn is-success" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :POST, class: "nes-btn is-primary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= @user.introduction %>
  </div>
  <div>
    <h4>制作ゲーム一覧</h4>
    <% if @user == current_user %>
      <%= link_to "新作を登録する", new_game_path, class: "nes-btn is-success" %>
    <% end %>
    <% @games.each do |game| %>
      <div>
        <%= attachment_image_tag game, :image, :fill, 150, 100 %>
        <%= game.title %>
        <%= game.introduction.truncate(20) %>
        <%= link_to "もっと　くわしく", game_path(game), class: "nes-btn is-warning" %>
      </div>
    <% end %>
  </div>
</div>