<% if user_signed_in? %>
  <% if game.favorited_by?(current_user) %>
    <%= link_to game_favorites_path(game), method: :delete, remote: true do %>
      <div class="nes-btn">
        <span>おきにいり</span>
        <i class="fa fa-heart" aria-hidden="true" style="color: #cc111b;"></i>
        <%= game.favorites.count %>
      </div>
    <% end %>
  <% else %>
    <%= link_to game_favorites_path(game), method: :post, remote: true do %>
      <div class="nes-btn">
        <span>おきにいりとうろく</span>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= game.favorites.count %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <div class="nes-btn">
      <i class="fa fa-heart-o" style="color: #cc111b;"></i>
      <%= game.favorites.count %>
    </div>
  <% end %>
<% end %>