<div class="right-all col-12 col-md-8 offset-1">
  <div class="genre_badge">
    <h1>ゲームをさがす</h1>
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag 'search[content]', "", placeholder: "キーワードけんさく", class: "nes-input" %>
      <%= hidden_field_tag :model, "game" %>
      <%= submit_tag 'けんさく', class: "nes-btn is-primary" %>
    <% end %>
    <h5 class="mt-3">ジャンルけんさく</h5>
    <div class="d-flex flex-wrap">
      <% @genres.each do |genre| %>
        <div class="genre-badge">
          <%= link_to games_path(id: genre.id) do %>
            <%= genre.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <h1 class="mt-4">ゲームたち</h1>
  <div id="games_index">
    <%= render 'index', games: @games %>
  </div>
  <div class="view_more mt-3">
    <%= link_to_next_page @games, "もっとみる", remote: true, id: "view_more" %>
  </div> 
</div>