<div class="col-10">
  <h3>ゲームをさがす</h3>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag 'search[content]', "", class: "nes-input" %>
    <%= hidden_field_tag :model, "game" %>
    <%= submit_tag 'Search', class: "nes-btn is-primary" %>
  <% end %>
  <h3>ゲームいちらん</h3>
  <% @games.each do |game| %>
    <div>
      <%= attachment_image_tag game, :image, :fill, 150, 100 %>
      <%= game.title %>
      <%= truncate(game.introduction, :length => 20) %>
      <%= link_to "もっと　くわしく", game_path(game), class: "nes-btn is-warning" %>
    </div>
  <% end %>
</div>