<div class="right-all col-8 offset-1">
  <h1>ゲームをさがす</h1>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag 'search[content]', "", class: "nes-input" %>
    <%= hidden_field_tag :model, "game" %>
    <%= submit_tag 'Search', class: "nes-btn is-primary" %>
  <% end %>

  <h1 class="mt-4">ゲームたち</h1>
  <div class="d-flex flex-wrap">
    <% @games.each do |game| %>
      <div class="table-item text-center">
        <%= attachment_image_tag game.game_images[0], :image, size: "160x90" %>
        <p><%= truncate(game.title, length: 10) %></p>
        <p><%= link_to "もっと　くわしく", game_path(game), class: "nes-btn is-warning" %></p>
      </div>
    <% end %>
  </div>
</div>