<div class="col-xs-10">
  <%= form_with model: @game do |f| %>
    <% if @game.errors.any? %>
      <%= @game.errors.count %>件のエラーが発生しました
      <% @game.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <%= f.attachment_field :image %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "nes-input" %>
    <%= f.label :introduction, "紹介文" %>
    <%= f.text_area :introduction, class: "nes-textarea" %>
    <%= f.submit class: "nes-btn is-primary" %>
  <% end %>
</div>