<div class="right-all col-8 offset-1">
  <h1><%= @game.title %></h1>
  <div>
    <%= attachment_image_tag @game, :image, size: "704x396" %>
  </div>
  <div class="float-right">
    <% if @game.user == current_user %>
      <%= link_to "へんしゅう", edit_game_path(@game), class: "nes-btn is-primary" %>
      <%= link_to "さくじょ", game_path(@game), method: :delete, data: {confirm: "#{@game.title}をさくじょしてよろしいですか？"}, class: "nes-btn is-error" %>
    <% end %>
  </div>
  <div id="favorite_button_<%= @game.id %>">
    <%= render 'favorite', game: @game %>
  </div>
  <h4 class="mt-4 mb-3">ゲームのせつめい</h4>
  <p class="text-break"><%= @game.introduction %></p>
  <h4 class="mt-4 mb-3">ジャンル</h4>
  <% @game.genres.each do |genre| %>
    <label class="nes-badge">
      <span class="is-dark">
        <%= link_to genre.name, games_path(id: genre.id) %>
      </span>
    </label>
  <% end %>
  <h4 class="mt-4 mb-3">クリエイター</h4>
  <%= attachment_image_tag @game.user, :image, size: "50x50" %>
  <%= link_to user_path(@game.user) do %>
    <%= @game.user.name %>
  <% end %>
  <h4 class="mt-4 mb-3">みんなのコメント</h4>
  <div id="comment_<%= @game.id %>">
    <%= render 'comment', game: @game %>
  </div>
  <div>
    <h4 class="mt-4">コメントする</h4>
    <%= form_with(model:[@game, @comment]) do |f| %>
      <%= f.text_area :comment, rows: "5", class: "nes-textarea" %>
      <% if user_signed_in? %>
        <%= f.submit "とうこう", class: "nes-btn is-primary" %>
      <% else %>
        <%= link_to "とうこう", new_user_session_path, class: "nes-btn is-primary", remote: true %>
      <% end %>
    <% end %>
  </div>
</div>