<div class="col-10">
  <div>
    <h3><%= @game.title %></h3>
  </div>
  <div>
    <%= attachment_image_tag @game, :image, size: "700x350" %>
  </div>
  <div>
    <%= attachment_image_tag @user, :image, size: "100x60" %>
    <%= @user.name %>
    <% if user_signed_in? %>
      <% if @game.favorited_by?(current_user) %>
        <%= link_to game_favorites_path(@game), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: #000;"></i>
          <%= @game.favorites.count %>
        <% end %>
      <% else %>
        <%= link_to game_favorites_path(@game), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @game.favorites.count %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-heart" style="color: #000;"></i>
        <%= @game.favorites.count %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= @game.introduction %>
  </div>
  <div>
    <h4>コメント一覧</h4>
    <% @game.comments.each do |comment| %>
      <div>
        <%= image_tag('no_image.png', style: "width: 60px; height: 60px;") %>
        <%= link_to user_path(comment.user) do %>
          <%= comment.user.name %>
        <% end %>
        <div class="nes-balloon from-left">
          <%= comment.comment %>
        </div>
        <% if comment.user == current_user %>
          <%= link_to "削除", game_comment_path(comment.game, comment), method: :delete, class: "nes-btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h4>コメントを投稿する</h4>
    <%= form_with(model:[@game, @comment]) do |f| %>
      <%= f.text_area :comment, rows: "5", class: "nes-textarea" %>
      <% if user_signed_in? %>
        <%= f.submit "送信する", class: "nes-btn is-primary" %>
      <% else %>
        <%= link_to "送信する", new_user_session_path, class: "nes-btn is-primary" %>
      <% end %>
    <% end %>
  </div>
</div>