<div class="right-all col-12 col-md-8 offset-1">
  <h1><%= @game.title %></h1>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <div id="slider">
    <% @game.game_images.each do |image| %>
      <%= attachment_image_tag image, :image, size: "500x250" %>
    <% end %>
  </div>
  <div id="favorite_button_<%= @game.id %>">
    <%= render 'favorite', game: @game %>
  </div>

  <!--ブロック崩し-->
  <% if @game.id == 1 %>
    <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="mmdrdr" data-slug-hash="RwREaQy" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="block_break">
      <span>See the Pen <a href="https://codepen.io/mmdrdr/pen/RwREaQy">
      block_break</a> by mmdrdr (<a href="https://codepen.io/mmdrdr">@mmdrdr</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  <% end %>

  <!--タイピングゲーム-->
  <% if @game.id == 2 %>
    <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="js,result" data-user="mmdrdr" data-slug-hash="ZEOVWpE" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="typing">
      <span>See the Pen <a href="https://codepen.io/mmdrdr/pen/ZEOVWpE">
      typing</a> by mmdrdr (<a href="https://codepen.io/mmdrdr">@mmdrdr</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
　<% end %>

  <% if @game.user == current_user %>
    <div>
      <h4 class="mt-4">クリエイターメニュー</h4>
      <%= link_to "へんしゅう", edit_game_path(@game) %>
      <%= link_to "さくじょ", game_path(@game), method: :delete, data: {confirm: "#{@game.title}をさくじょしてよろしいですか？"} %>
    </div>
  <% end %>
  <h4 class="mt-4 mb-3">ゲームのせつめい</h4>
  <p class="text-break"><%= @game.introduction %></p>
  <div class="genre_badge">
    <h4 class="mt-4 mb-3">ジャンル</h4>
    <% @game.genres.each do |genre| %>
      <div class="genre-badge">
        <%= link_to genre.name, games_path(id: genre.id) %>
      </div>
    <% end %>
  </div>
  <h4 class="mt-4 mb-3">クリエイター</h4>
  <% if @game.user.image.present? %>
    <%= attachment_image_tag @game.user, :image, size: "50x50" %>
  <% else %>
    <%= image_tag "no_image.png", size: "50x50" %>
  <% end %>
  <%= link_to user_path(@game.user) do %>
    <%= @game.user.name %>
  <% end %>
  <h4 class="mt-4 mb-3">このゲームをシェア</h4>
  <div class="d-flex flex-wrap">
    <div class="ml-2">
      <!--Facebookはローカルではエラー、本番環境で試す-->
      <%= link_to "http://www.facebook.com/share.php?u=#{request.url}", target: '_blank' do %>
        <i class="nes-icon facebook"></i>
      <% end %>
    </div>
    <div class="ml-2">
      <%= link_to "https://twitter.com/share?url=#{request.url}", target: '_blank' do %>
        <i class="nes-icon twitter"></i>
      <% end %>
    </div>
  </div>
  <h4 class="mt-4 mb-3">みんなのコメント</h4>
  <div id="comment_<%= @game.id %>">
    <%= render 'comment', game: @game %>
  </div>
  <div>
    <h4 class="mt-4">コメントする</h4>
    <%= form_with(model:[@game, @comment]) do |f| %>
      <%= f.text_area :comment, rows: "3", placeholder: "とうこうできるのは1〜200もじまでです。", class: "nes-textarea" %>
      <% if user_signed_in? %>
        <%= f.submit "とうこう", class: "nes-btn is-primary" %>
      <% else %>
        <%= link_to "とうこう", new_user_session_path, class: "nes-btn is-primary" %>
      <% end %>
    <% end %>
  </div>
</div>