<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
      <%= attachment_image_tag @game, :image, :fill, 100, 100 %>
      <%= @game.title %>
      <%= @game.introduction %>
      <%= link_to "編集", edit_game_path(@game) %>
      <%= link_to "削除", game_path(@game), method: :delete, data: {confirm: "#{@game.title}を削除します。本当に削除してよろしいですか？"} %>
    </div>
  </div>
</div>