<div class="right-all col-8 offset-1">
  <div>
    <h1><%= @game.title %></h1>
    <% if @game.user == current_user %>
      <%= link_to "へんしゅう", edit_game_path(@game), class: "nes-btn is-primary" %>
      <%= link_to "さくじょ", game_path(@game), method: :delete, data: {confirm: "ほんとうに さくじょ してよろしいですか？"}, class: "nes-btn is-error" %>
    <% end %>
  </div>
  <div>
    <%= attachment_image_tag @game, :image, size: "700x350" %>
  </div>
  <div>
    <%= attachment_image_tag @game.user, :image, size: "50x50" %>
    <%= @game.user.name %>
    <% if user_signed_in? %>
      <% if @game.favorited_by?(current_user) %>
        <%= link_to game_favorites_path(@game), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" style="color: #cc111b;"></i>
          <%= @game.favorites.count %>
        <% end %>
      <% else %>
        <%= link_to game_favorites_path(@game), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @game.favorites.count %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-heart-o" style="color: #cc111b;"></i>
        <%= @game.favorites.count %>
      <% end %>
    <% end %>
  </div>
  <div>
    <h4>ゲームのせつめい</h4>
    <%= @game.introduction %>
  </div>
  <div class="table-all">
    <h4>みんなのコメント</h4>
    <% @game.comments.each do |comment| %>
      <div class="table-item">
        <table class="table table-borderless">
          <tr>
            <td class="align-middle" style="width:10%">
              <%= attachment_image_tag comment.user, :image, size: "50x50", placeholder: 'no_image.png' %>
            </td>
            <td class="align-middle" style="width:20%">
              <%= link_to user_path(comment.user) do %>
                <%= comment.user.name %>
              <% end %>
            </td>
            <td class="align-middle" style="width:50%">
              <%= truncate(comment.comment, :length => 30) %>
            </td>
            <td class="align-middle" style="width:20%">
              <% if comment.user == current_user %>
                <%= link_to "さくじょ", game_comment_path(comment.game, comment), method: :delete, class: "nes-btn is-error" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  <div>
    <h4>コメントする</h4>
    <%= form_with(model:[@game, @comment]) do |f| %>
      <%= f.text_area :comment, rows: "5", class: "nes-textarea" %>
      <% if user_signed_in? %>
        <%= f.submit "とうこう", class: "nes-btn is-primary" %>
      <% else %>
        <%= link_to "とうこう", new_user_session_path, class: "nes-btn is-primary" %>
      <% end %>
    <% end %>
  </div>
</div>