<!DOCTYPE html>
<html>
  <head>
    <title>IndieGameFans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19bf4597ee.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="header col-3 text-right d-none d-md-block">
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li>
                  <%= link_to "TOP", root_path %>
                </li>
                <li>
                  <%= link_to "GAME", games_path %>
                </li>
                <li>
                  <%= link_to "CREATOR", users_path %>
                </li>
                <li>
                  <%= link_to "MY PAGE", user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
                </li>
                <li>
                  <%= link_to "CONTACT", new_contacts_path %>
                </li>
              <% else %>
                <li>
                  <%= link_to "TOP", root_path %>
                </li>
                <li>
                  <%= link_to "GAME", games_path %>
                </li>
                <li>
                  <%= link_to "CREATOR", users_path %>
                </li>
                <li>
                  <%= link_to "SIGN UP", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "LOG IN", new_user_session_path %>
                </li>
                <li>
                  <%= link_to "CONTACT", new_contacts_path %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
